/* 
.home-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .welcome-message {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 2rem;
    color: #4CAF50;  
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .tasks-container, .bulletin-board-container {
    margin-bottom: 30px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li.task, li.bulletin-message {
    background-color: #f0f0f0;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  li.task h3, li.bulletin-message h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  li.task p, li.bulletin-message p {
    font-size: 1rem;
  }
  
  .logout-button {
    display: block;
    margin: 20px auto;
    padding: 12px 25px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
   */

/* home-container */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fc;
}

/* login-section */
.login-section {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-section input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-section button {
  width: 100%;
  padding: 10px;
  background-color: #222924;
  color: white;
  border: none;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 14px;
}

/* tasks-section */
.tasks-section {
  text-align: center;
}

.tasks-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.tasks-section ul {
  list-style-type: none;
  padding: 0;
}

.tasks-section li {
  font-size: 18px;
  margin: 10px 0;
}
