.bulletin-board-container {
  padding: 20px;
}

.add-post {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.add-post input, .add-post textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-post button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-post button:hover {
  background-color: #0056b3;
}

.posts .post-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.post-actions button {
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.comments-section {
  margin-top: 20px;
}

.comments-section input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.comments-section button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments-section button:hover {
  background-color: #218838;
}
.post-image img {
  width: 150px;  /* عرض الصورة */
  height: 150px;  /* ارتفاع الصورة */
  object-fit: cover;  /* الحفاظ على نسبة الصورة وتجنب التشويه */
  border-radius: 8px;  /* إضافة حدود دائرية للصورة */
}

/* تنسيق التقويم */
.calendar {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
}

.calendar h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.react-calendar {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
